<section class="my-3">
  <h1 class="text-success text-center">All Products</h1>
  <input [(ngModel)] = "dataSearch" type="text" class="form-control w-75 mx-auto my-2" placeholder="Search By Name...">
  <div class="row g-4">
    @for (product of allProducts() | search : dataSearch(); track product.id) {
      <div class="col-lg-3 col-md-4">
        <div class="card cr overflow-hidden shadow bg-light rounded h-100 position-relative">
          @if(!wishListIds().includes(product.id)){
            <i class="heart fa-solid fa-heart" (click)="addWishList(product.id)"></i>
          }
          @if(wishListIds().includes(product.id)){
            <i class="heart text-danger fa-solid fa-heart" (click)="deletewishlistItem(product.id)"></i>
          }
          <div [routerLink]="['/details', product.id]">
            <img [src]="product.imageCover" class="card-img" [alt]="product.title">
            <div class="card-body p-2">
              <h3 class="h5">{{product.title.split(' ', 2).join(' ') }}</h3>
              <h4 class="h6">{{product.category.name}}</h4>
              <div class="d-flex justify-content-between align-items-center">
                <span>{{product.price | currency : 'GBP'}}</span>
                <span>
                  @for (star of [1,2,3,4,5].slice(0, product.ratingsAverage); track $index) {
                    <i class="fa-solid fa-star text-warning"></i>
                  }
                  @if(product.ratingsAverage % 1 !== 0){
                    <i class="fa-solid fa-star-half-stroke text-warning"></i>
                  }
                  {{product.ratingsAverage}}
                </span>
              </div>
            </div>
          </div>
          <button class="btn btn-success" (click)="addCart(product.id)">Add To Cart</button>
        </div>
      </div>
    }

    @for (product of anotherProducts() | search : dataSearch(); track product.id) {
      <div class="col-lg-3 col-md-4">
        <div class="card cr overflow-hidden shadow bg-light rounded h-100 position-relative">
          @if(!wishListIds().includes(product.id)){
            <i class="heart fa-solid fa-heart" (click)="addWishList(product.id)"></i>
          }
          @if(wishListIds().includes(product.id)){
            <i class="heart text-danger fa-solid fa-heart" (click)="deletewishlistItem(product.id)"></i>
          }
          <div [routerLink]="['/details', product.id]">
            <img [src]="product.imageCover" class="card-img" [alt]="product.title">
            <div class="card-body p-2">
              <h3 class="h5">{{product.title.split(' ', 2).join(' ') }}</h3>
              <h4 class="h6">{{product.category.name}}</h4>
              <div class="d-flex justify-content-between align-items-center">
                <span>{{product.price | currency : 'GBP'}}</span>
                <span>
                  @for (star of [1,2,3,4,5].slice(0, product.ratingsAverage); track $index) {
                    <i class="fa-solid fa-star text-warning"></i>
                  }
                  @if(product.ratingsAverage % 1 !== 0){
                    <i class="fa-solid fa-star-half-stroke text-warning"></i>
                  }
                  {{product.ratingsAverage}}
                </span>
              </div>
            </div>
          </div>
          <button class="btn btn-success" (click)="addCart(product.id)">Add To Cart</button>
        </div>
      </div>
    }
  </div>
</section>
