@media (max-width: 576px) {
  .wishListBody{
    display: block !important;
  }
  button{
    margin-top: 5px;
  }
  h1{
    font-size: 22px;
  }
  h5{
    font-size: 16px;
  }
  .wishListBody h2{
    font-size: 18px;
  }
}
