<section>
  <h1 class="text-success text-center my-2">All Categories</h1>

  <owl-carousel-o [options]="customOptionsCategory">
    @for (category of allCategories(); track category._id) {
      <ng-template carouselSlide>
        <div [routerLink]="['/subCategory', category._id, category.name]">
          <img [src]="category.image" class="w-100" height="200px">
          <h3 class="text-center">{{category.name}}</h3>
        </div>
      </ng-template>
    }
  </owl-carousel-o>

  <div class="row g-4">
    @for (product of allCategories(); track $index) {
      <div class="col-lg-3 col-md-4">
        <div class="shadow rounded text-center p-2 my-2 cr" [routerLink]="['/subCategory', product._id, product.name]">
          <img [src]="product.image" height="250px" class="w-100" [alt]="product.name">
          <h4 class="mt-2">{{product.name}}</h4>
        </div>
      </div>
    }
  </div>
</section>
