<section class="bg-light shadow rounded p-4 my-2">
  <h1 class="text-success text-center">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
<!--########################################### Email Input #########################################################-->
    <div>
      <label for="email">Email:</label>
      <input [ngClass]="{
        'is-valid': !loginForm.get('email')?.errors && loginForm.get('email')?.touched,
        'is-invalid': loginForm.get('email')?.errors && loginForm.get('email')?.touched,
      }" formControlName="email" class="form-control" type="email" id="email" name="email" placeholder="Enter Your Email...">

      @if(loginForm.get('email')?.errors && loginForm.get('email')?.touched){
        <div class="alert alert-danger my-2">
          @if(loginForm.get('email')?.getError('required')){
            <p class="m-0">Email Is Required</p>
          }
          @else if (loginForm.get('email')?.getError('email')) {
            <p class="m-0">Email Is InValid</p>
          }

        </div>
      }
    </div>

<!--########################################### Password Input #########################################################-->
    <div>
      <label for="password">Password:</label>
      <div class="position-relative">
        <input #inputPassword [ngClass]="{
          'is-valid': !loginForm.get('password')?.errors && loginForm.get('password')?.touched,
          'is-invalid': loginForm.get('password')?.errors && loginForm.get('password')?.touched,
        }" formControlName="password" class="form-control" type="password" id="password" name="password" placeholder="Enter Your Password...">
        <span class="show position-absolute cr">
          <i (click)="show()" #showIcone class="fa-solid fa-eye-slash"></i>
          <i (click)="hide()" #hideIcone class="fa-solid fa-eye d-none"></i>
        </span>
      </div>
      @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched){
        <div class="alert alert-danger my-2">
          @if(loginForm.get('password')?.getError('required') && loginForm.get('password')?.touched){
          <p class="m-0">Password Is Required</p>
          } @else if (loginForm.get('password')?.getError('pattern') && loginForm.get('password')?.touched) {
            <p class="m-0">Password Must Be More Than 6 Char</p>
          }
        </div>
      }
    </div>

<!--########################################### Forget password And Button Submit #########################################################-->
    <div class="d-flex align-items-center justify-content-end gap-3 mt-2">
      <a routerLink="/forget" class="link-primary text-decoration-none">ForgetPassword</a>
      <button class="btn btn-success" [disabled]="isLoading || loginForm.invalid">
        @if(isLoading){
          <span><i class="fas fa-spin fa-spinner"></i></span>
        }
        Login
      </button>
    </div>

  </form>
</section>
