<section class="w-75 mx-auto shadow bg-light rounded p-4 my-2">
  <h3 class="text-success text-center">Details From Your Order</h3>
  <form [formGroup]="paymentForm" (ngSubmit)="checkOut()">
    <div>
      <label for="details">Details</label>
      <textarea [ngClass]="{
        'is-valid' : !paymentForm.get('details')?.errors && paymentForm.get('details')?.touched,
        'is-invalid' : paymentForm.get('details')?.errors && paymentForm.get('details')?.touched,
      }" class="form-control" formControlName="details" placeholder="Product Details From Your Cart"></textarea>
      @if(paymentForm.get('details')?.errors && paymentForm.get('details')?.touched){
        <div class="alert alert-danger">
          @if(paymentForm.get('details')?.getError('required') && paymentForm.get('details')?.touched){
            <p class="m-0">Details Is Required</p>
          }
        </div>
      }
    </div>

    <div>
      <label for="phone">Phone</label>
      <input [ngClass]="{
        'is-valid' : !paymentForm.get('phone')?.errors && paymentForm.get('phone')?.touched,
        'is-invalid' : paymentForm.get('phone')?.errors && paymentForm.get('phone')?.touched,
      }" class="form-control" name="tel" formControlName="phone" placeholder="Enter Your Phone">
      @if(paymentForm.get('phone')?.errors && paymentForm.get('phone')?.touched){
        <div class="alert alert-danger">
          @if(paymentForm.get('phone')?.getError('required') && paymentForm.get('phone')?.touched){
            <p class="m-0">Phone Is Required</p>
          } @else if (paymentForm.get('phone')?.getError('pattern') && paymentForm.get('phone')?.touched) {
            <p class="m-0">Phone Is InValid</p>
          }
        </div>
      }
    </div>

    <div>
      <label for="city">City</label>
      <input [ngClass]="{
        'is-valid' : !paymentForm.get('city')?.errors && paymentForm.get('city')?.touched,
        'is-invalid' : paymentForm.get('city')?.errors && paymentForm.get('city')?.touched,
      }" class="form-control" name="text" formControlName="city" placeholder="3St. Salah El Dien Masr El Gdeda/Cairo">
      @if(paymentForm.get('city')?.errors && paymentForm.get('city')?.touched){
        <div class="alert alert-danger">
          @if(paymentForm.get('city')?.getError('required') && paymentForm.get('city')?.touched){
            <p class="m-0">City Is Required</p>
          }
        </div>
      }
    </div>

    <div class="d-flex mt-2 gap-2">
      <button class="btn btn-success mt-2">Check Out</button>
      <button class="btn btn-success mt-2" type="button" (click)="orderCash()">Cash</button>
    </div>
  </form>
</section>
